.row
  .col-sm-12
    %h1.page-header= t('.titulo')

= form_for @city , html: { multipart: true , class: 'form-horizontal' } do |f|
  .h1= t('.title.download',:city => @city.name)
  .row
    .panel.panel-default
      .panel-heading
        =t('.subtitle.download')
      .panel-body
        %table{ class:'table table-striped table-bordered table-hover' }
          %tbody
            %tr
              = link_to t('.download'),"/NombreDelMunicipio.zip" , :class => 'btn btn-sm btn-success outlineverde'

  .h2= t('.title.upload')
  .row
    .panel.panel-default
      .panel-heading
        =#t('.subtitle.upload')
      .panel-body
        %table{ class:'table table-striped table-bordered table-hover' }
          %tbody
            %tr
              %td= t('.dependencies')
              %td
                %span= link_to(@city.dependency_file_identifier, @city.dependency_file_url, target: "_blank") if @city.dependency_file_url
                = f.file_field :dependency_file
            %tr
              %td= t('.lines')
              %td
                %span= link_to(@city.line_file_identifier, @city.line_file_url, target: "_blank") if @city.line_file_url
                = f.file_field :line_file
            %tr
              %td= t('.formation_steps')
              %td
                %span= link_to(@city.formation_step_file_identifier, @city.formation_step_file_url, target: "_blank") if @city.formation_step_file_url
                = f.file_field :formation_step_file
            %tr
              %td= t('.requirements')
              %td
                %span= link_to(@city.requirement_file_identifier, @city.requirement_file_url, target: "_blank") if @city.requirement_file_url
                = f.file_field :requirement_file
            %tr
              %td= t('.procedures')
              %td
                %span= link_to(@city.procedure_file_identifier, @city.procedure_file_url, target: "_blank") if @city.procedure_file_url
                = f.file_field :procedure_file
            %tr
              %td= t('.inspections')
              %td
                %span= link_to(@city.inspection_file_identifier, @city.inspection_file_url, target: "_blank") if @city.inspection_file_url
                = f.file_field :inspection_file
            %tr
              %td= t('.inspectors')
              %td
                %span= link_to(@city.inspector_file_identifier, @city.inspector_file_url, target: "_blank") if @city.inspector_file_url
                = f.file_field :inspector_file
      .panel-footer
        &nbsp;
        .pull-right
          = f.submit t('.save'), :class => 'btn btn-sm btn-success outlineverde'