-@number_of_procedure = 0
-@add_headers = true
- @procedure_lines.each_with_index do |procedure_line, index|
  - if(Procedure.find(procedure_line.procedure_id).category == 'Constituye tu empresa')
    - procedure = Procedure.find(procedure_line.procedure_id)
    -if(valida_tipo(procedure.type_procedure, @tipo))
      %table.table.table-hover
        -if @add_headers
          %tr.texto-verde
            %th.col-sm-1= t('.done')
            %th.col-sm-4= t('.name')
            %th.col-sm-1= t('.type')
            %th.col-sm-3= t('.cost')
            %th.col-sm-1= t('.validity')
            %th.col-sm-2= t('.duration')
          -@add_headers=false
        %tr{ 'ng-class'=> "{ 'done': procedures.items[#{procedure.id}] }"}
          .col-sm-1
            - if user_signed_in?
              %td{ 'ng-init'=> "procedures.items[#{procedure.id}] = #{UserProcedure.exists?(business: current_business, procedure: procedure)}"}
                %label{ style: 'font-weight: 400;' }
                  %input{ type: 'checkbox', 'ng-model'=> "procedures.items[#{procedure.id}]", 'ng-click'=> "procedures.update({ 'done': procedures.items[#{procedure.id}], 'business_id': #{current_business.id}, 'procedure_id': #{procedure.id}, 'path': \'#{user_procedures_path}\'})"} &nbsp;
            - else
              %td
                %label{ style: 'font-weight: 400;' }
                  %input{ type: 'checkbox', 'ng-click'=> "procedures.redirect(\'#{new_user_path}\')"} &nbsp;
          -unless procedure.name.nil?
            -@number_of_procedure += 1
          %td.col-sm-4
            = link_to city_procedure_line_path(@city, procedure_line), class: 'texto-verde' do
              = procedure.name
          %td.col-sm-1
            = tipo(procedure.type_procedure)
          %td.col-sm-3
            = procedure.cost
          %td.col-sm-1
            = procedure.validity
          %td.col-sm-2
            = procedure.long

-if @number_of_procedure == 0
  = render 'shared/empty_resource', message: t('procedure_lines.index.no_procedure_lines_available') 
-else
  = link_to t('buttons.downloader'), download_csv_formation_steps_municipal_city_formation_steps_path(@city,:lines => @line, :rating => @tipo, :commit =>@commit , format: :csv),:class => "btn btn-success btn-lg outlineverde"