%table.table.table-hover.master-detail
  %tr.texto-verde
    %th.col-sm-1= t('.done')
    %th.col-sm-4= t('.name')
    %th.col-sm-6= t('.description')
    %th.col-sm-1= t('.path')
    - @formation_steps.each_with_index do |formation, index|
      - if formation.type_formation_step == @tipo || @tipo == 'A'
        %tr{ 'ng-class'=> "{ 'done': procedures.items[#{formation.id}] }"}
          .col-sm-1
            - if user_signed_in?
              %td{ 'ng-init'=> "procedures.items[#{formation.id}] = #{UserFormationStep.exists?(user: current_user, formation_step: formation)}"}
                %label{ style: 'font-weight: 400;' }
                  %input{ type: 'checkbox', 'ng-model'=> "procedures.items[#{formation.id}]", 'ng-click'=> "procedures.update({ 'done': procedures.items[#{formation.id}], 'user_id': #{current_user.id}, 'formation_step_id': #{formation.id}, 'line_id': #{@line}, type_user_formation_step: \'#{@tipo}\', 'path': \'#{user_formation_steps_path}\'})"} &nbsp;
            - else
              -# let's redirect the user to the login page
              %td
                %label{ style: 'font-weight: 400;' }
                  %input{ type: 'checkbox', 'ng-click'=> "procedures.redirect(\'#{new_user_path}\')"} &nbsp;
          %td.col-sm-4= formation.name
          %td.col-sm-6= formation.description
          %td.col-sm-1= link_to t('.liga'), formation.path
= link_to t('buttons.downloader'), download_csv_formation_steps_federal_city_formation_steps_path(@city,:lines => @line, :rating => @tipo, :commit =>@commit , format: :csv),:class => "btn btn-success btn-lg outlineverde"
