%a-verde= render_breadcrumbs separator: ' / ', class: 'a-verde texto-verde'

.row.text-center.texto-verde
  %h1= t('.title')
  - if @line.nil?
    %p= t('.no_formation_steps_selected_subtitle')
    %p= t('.no_formation_steps_selected_instruction')
  - else
    %div.row.texto-verde
      %div.col-md-8.col-md-offset-2.texto-justificado
        = "#{t('.no_formation_steps_selected_resultado')} #{Line.find(@line).name} para personas #{type(@tipo)}, trámites #{@tramite}."
    %br 
    %div.row.texto-gris
      %div.col-md-8.col-md-offset-2.texto-justificado
        -if @tramite == 'federales'
          =t('.texto_explicativo_municipal')
        -if @tramite == 'municipales'
          =t('.texto_explicativo_federal')
        -if @tramite == 'estatales'
          =t('.texto_explicativo_estatal')
    %br      


= form_for :get, html: { method: :get, id: 'procedure_lines_form', class: 'form-horizontal', style: 'margin-bottom: 115px;' }, url: { controller: :formation_steps, action: :index }  do |f|
  .form-group
    %label.col-sm-2.control-label.texto-verde-wrap= t('.formation_steps_select_name')
    .col-sm-10
      = f.select :lines, Line.where(city_id: @city).map { |u| [u.name, u.id] },{ include_blank: true ,selected: @line, :prompt => t('.select_giro') }, { class: 'chosen-select' }
  .form-group
    %label.col-sm-2.control-label.texto-verde-wrap= t('.formation_steps_radio_name')

    .col-sm-10
      .btn-group.btn-toggle{ 'data-toggle'=> "buttons" }
        - if @tipo == 'AF'
          %label.btn.btn-default.active.texto-gris
            = t('.radio_fisica')
            = radio_button_tag :rating, 'AF',true
          %label.btn.btn-default.texto-gris
            = t('.radio_moral')
            = radio_button_tag :rating, 'AM'
          %label.btn.btn-default.texto-gris
            = t('.radio_ambas')
            = radio_button_tag :rating, 'A'
        - elsif @tipo == 'AM'
          %label.btn.btn-default.texto-gris
            = t('.radio_fisica')
            = radio_button_tag :rating, 'AF'
          %label.btn.btn-default.active.texto-gris
            = t('.radio_moral')
            = radio_button_tag :rating, 'AM', true
          %label.btn.btn-default.texto-gris
            = t('.radio_ambas')
            = radio_button_tag :rating, 'A'
        -else
          %label.btn.btn-default.texto-gris
            = t('.radio_fisica')
            = radio_button_tag :rating, 'AF'
          %label.btn.btn-default.texto-gris
            = t('.radio_fisica')
            = radio_button_tag :rating, 'AM'
          %label.btn.btn-default.active.texto-gris
            = t('.radio_ambas')
            = radio_button_tag :rating, 'A', true
  .form-group
    .row.col-md-6.col-md-offset-2
      .col-sm-4
        = f.submit t('buttons.federal'), class: 'btn btn-success btn-lg outlineverde btn-block'
      .col-sm-4
        = f.submit t('buttons.estatal'), class: 'btn btn-success btn-lg outlineverde btn-block'
      .col-sm-4
        = f.submit t('buttons.municipal'), class: 'btn btn-success btn-lg outlineverde btn-block'

.row{ 'ng-controller'=> 'ProcedureCtrl as procedures'}
  - if @line.present?
    - if @formation_steps.present?
      -# Federal And Estatal formation steps
      = render 'federal_formation_steps'
    - elsif @procedure_lines.present?
      -# City procedures
      = render 'city_formation_steps'
    -else
      = render 'shared/empty_resource', message: t('procedure_lines.index.no_procedure_lines_available')
