%h2= t('titles.inspections')
.row.text-right
  = link_to t('.new_inspection'), new_dashboard_inspection_path, class: 'btn btn-success btn-xs outlineverde'

- if @inspections.any?
  %table{ class:'table table-striped table-bordered table-hover' }
    %thead
      %th #
      %th= t('.name')
      %th= t('.dependency')
      %th= t('.actions')
    %tbody
      %tr
        - @inspections.each_with_index do |inspection, idx|
          %td= idx + 1
          %td= inspection.name
          %td= inspection.dependency.name
          %td
            = link_to t('form.actions.edit'), edit_dashboard_inspection_path(inspection) , class: 'btn btn-success btn-xs outlineverde'
            = link_to t('form.actions.destroy'), dashboard_inspection_path(inspection), method: :delete, data: { confirm: t('form.confirmations.delete_inspection') }, class: 'btn btn-success btn-xs outlineverde'
  %p
    Descargar:
    = link_to "CSV", dashboard_inspections_path( format: "csv"), class: 'btn btn-success btn-xs outlineverde'
- else
  = render 'shared/empty_resource', message: t('.no_inspections_available')
