%h2= t('titles.lines')
.row.text-right
  = link_to t('.new_lines'), new_dashboard_line_path, class: 'btn btn-success btn-xs outlineverde'

- if @lines.any?
  %table{ class:'table table-striped table-bordered table-hover' }
    %thead
      %th #
      %th= t('.name')
      %th= t('.municipio')
      %th= t('.actions')
    %tbody
      %tr
        - @lines.each_with_index do |line, idx|
          %td= idx + 1
          %td= truncate(line.name, length: 70)
          %td= truncate(line.city.name, length: 70)
          %td
            = link_to t('form.actions.edit'), edit_dashboard_line_path(line), class: 'btn btn-success btn-xs outlineverde'
            = link_to t('form.actions.destroy'), dashboard_line_path(line), method: :delete, data: { confirm: t('form.confirmations.delete_line') }, class: 'btn btn-success btn-xs outlineverde'
  %p
    Descargar:
    = link_to "CSV", dashboard_lines_path( format: "csv"), class: 'btn btn-success btn-xs outlineverde'
- else
  = render 'shared/empty_resource', message: t('.no_lines_available')
