<div id="wrap">
  <div id="main" class="container clear-top">
    <div class="row row-padding-bottom">
      <div class="span12">
        <section id="services ">
          <div class="center-block-margin">
            <div class="container">
            <h2> <%= t('titles.reminder') %></h2>
            <div class="row text-right">
              <%= link_to t('.new_reminder'), new_city_reminder_path, :class => 'btn btn-success btn-xs outlineverde' %>
            </div>
            <table class="table">
             <thead>
               <th>#</th>
               <th><%= t('.name') %></th>
               <th><%= t('.license') %></th>
               <th><%= t('.until') %></th>
             </thead>
             <tbody>
               <% @reminders.each_with_index do |reminder, idx| %>
                <%= content_tag :tr do %>
                 <%= content_tag :td, idx + 1 %>
                 <%= content_tag :td, reminder.name %>
                 <%= content_tag :td, reminder.license %>
                 <%= content_tag :td, reminder.until %>
                 <%= content_tag :td do %>
                   <%= link_to t('.edit'), city_reminder_path(reminder) , :class => 'btn btn-success btn-xs outlineverde'%> 
                   <%= link_to t('.eliminar'), city_reminder_path(reminder), method: :delete, data: { confirm: t('form.confirmations.delete_reminder') }, :class => 'btn btn-success btn-xs outlineverde' %>
                  <% end %>
                <% end %>
               <% end %>
             </tbody>
           </table>
         </div>
       </div>
     </section>
   </div>
 </div>
</div>
</div>