
<%flash.each do |key, value| %>
<div class="alert alert-success"><%=value%></div>
<espacio>
  <% end %>
  <h2> <%= t('titles.new_reminder') %></h2>
  <div id="wrap">
    <div id="main" class="clear-top">
      <%= render "shared/error_messages", :target => @reminder %> 
      <%= form_for  @reminder, url: city_reminders_path do |f| %>
      <div class="form-group row">
        <div class="col-sm-3">
          <%= f.text_field :name, class: 'form-control', placeholder: t('.name_hint') %>
        </div>
        <div class="col-sm-3">
          <%= f.text_field :license, class: 'form-control', placeholder: t('.license_hint')  %>
        </div>
        <div class="col-sm-3">
          <%= f.text_field :until_to, class: 'form-control' , placeholder: t('.until_to_hint') %>
        </div>
        <div class="col-sm-3 text-right">
          <%= f.submit t('reminders.index.create_reminder'), :class => 'btn btn-success btn-xs outlineverde' %>
        </div>
      </div>
      <% end %>
      <hr class="small">
      <%unless @reminders.nil?%>
        <h2> <%= t('titles.reminder') %></h2>
        <div class="row text-right">
          <%#= link_to t('.new_reminder'), new_city_reminder_path, :class => 'btn btn-success btn-xs outlineverde' %>
        </div>
        <table class="table">
         <thead>
           <th>#</th>
           <th><%= t('.name') %></th>
           <th><%= t('.license') %></th>
           <th><%= t('.until') %></th>
           <th class="text-right"></th>
         </thead>
         <tbody>
           <% @reminders.each_with_index do |reminder, idx| %>
           <%= content_tag :tr do %>
             <%= content_tag :td, idx + 1 %>
             <%= content_tag :td, reminder.name %>
             <%= content_tag :td, reminder.license %>
             <%= content_tag :td, reminder.until_to %>
              <%= content_tag :td, :class => 'text-right' do %>
               <%= link_to t('.edit'), edit_city_reminder_path(@city,reminder) , :class => 'btn btn-success btn-xs outlineverde text-right'%> 
                 <%= link_to t('.borrar'), city_reminder_path(@city, reminder.id), method: :delete, data: { confirm: t('form.confirmations.delete_reminder') }, :class => 'btn btn-success btn-xs outlineverde text-right' %>
                <% end %>
              <% end %>
           <% end %>
         </tbody>
       </table>
     <%else%>
      <%= render "shared/empty_resource", message: t('.no_reminders_available'), message2: t('.no_reminders_available_examples') %>
     <%end%>
   </div>
 </div>
 <script>
 $(function() {
  $( "#reminders_until_to" ).datepicker({
   format: 'yyyy-dd-mm',
   startDate: '-3d'
 });
});
</script>