  
<div class="row">
  <div class="col-sm-9 text-left">
    <a-verde > <%= render_breadcrumbs :separator => ' / ',:class => 'a-verde texto-verde' %></a-verde >
  </div>
  <div class="col-sm-3 text-right">
    <%= link_to t('.atras'), city_inspections_path, class: 'btn btn-success btn-lg outlineverde text-right' %>
  </div>
</div>
<%flash.each do |key, value| %>
<br/>
<div class="alert alert-success"><%=value%></div>
<% end %>

<h2> <%= t('titles.new_reminder') %></h2>
<div class="row text-left">
  <p><%=t('.no_reminders_available')%> <%=t('.no_reminders_available_examples')%></p>
</div>

<%#= render "shared/error_messages", :target => @reminder %> 
<%= form_for @reminder , :validate => true, url: city_reminders_path do |f| %>
<div class="form-group row">
  <div class="col-sm-3">

    <%= f.text_field :name, :validate => true, class: 'form-controler', placeholder: t('.name_hint') %>
    <div class='texto-rojo text-left'><%=@reminder.errors[:name][0].to_s%>   </div> 
  </div>

  <div class="col-sm-3">

   <%= f.text_field :license, :validate => true, class: 'form-controler', placeholder: t('.license_hint')  %>
      <div class='texto-rojo text-left'><%=@reminder.errors[:license][0].to_s%>    </div>
 </div>
 <div class="col-sm-3">

   <%= f.text_field :until_to, :validate => true, class: 'form-controler' , placeholder: t('.until_to_hint') %>
      <div class='texto-rojo  text-left'><%=@reminder.errors[:until_to][0].to_s%>    </div>
 </div>
 <div class="col-sm-3 text-right">
  <%= f.submit t('reminders.index.create_reminder'), :class => 'btn btn-success btn-lg outlineverde ' %>

</div>
</div>

<% end %>
<hr class="small">
<%unless @reminders.nil? || @reminders.empty?%>
<h2> <%= t('titles.reminder') %></h2>
<div class="row text-right">
  <%#= link_to t('.new_reminder'), new_city_reminder_path, :class => 'btn btn-success btn-xs outlineverde' %>
</div>
<table class="table">
 <thead>
   <th>#</th>
   <th><%= t('.name') %></th>
   <th><%= t('.license') %></th>
   <th><%= t('.until') %></th>
   <th class="text-right"></th>
 </thead>
 <tbody>
   <% @reminders.each_with_index do |reminder, idx| %>
   <%= content_tag :tr do %>
   <%= content_tag :td, idx + 1 %>
   <%= content_tag :td, reminder.name %>
   <%= content_tag :td, reminder.license %>
   <%= content_tag :td, reminder.until_to %>
   <%= content_tag :td, :class => 'text-right' do %>
   <%= link_to t('.edit'), edit_city_reminder_path(@city,reminder) , :class => 'btn btn-success btn-xs outlineverde text-right'%> 
   <%= link_to t('.borrar'), city_reminder_path(@city, reminder.id), method: :delete, data: { confirm: t('form.confirmations.delete_reminder') }, :class => 'btn btn-success btn-xs outlineverde text-right' %>
   <% end %>
   <% end %>
   <% end %>
 </tbody>
</table>
<%end%>

<script>
$(function() {
  $( "#reminders_until_to" ).datepicker({
   format: 'yyyy-dd-mm',
   startDate: '-3d'
 });
});
</script>