<div class="container top-cruds">
  <h2> <%= t('titles.reports') %></h2>
  <%= render "shared/show_flash" %>
  <table class="table">
   <thead>
     <th>#</th>
     <th><%= t('.negocio') %></th>
     <th><%= t('.razón') %></th>
     <th><%= t('.fecha') %></th>
   </thead>
   <tbody>
     <% @reports.each_with_index do |denuncia, idx| %>
     <%= content_tag :tr do %>
     <%= content_tag :td, idx + 1 %>
     <%unless User.where(id: denuncia.user_id ).empty?%>
     <%= content_tag :td, User.find(denuncia.user_id).business_name %>
     <%else%>
     <%= content_tag :td, t('.usuario_eliminado')  %>
     <%end%>
     <%= content_tag :td, COMPLAINTS[denuncia.reason]%>
     <%= content_tag :td, denuncia.updated_at %>
     <%unless User.where(id: denuncia.user_id ).empty?%>
     <%= content_tag :td do %>
      <div class="text-right">
        <%= link_to t('form.actions.show'), dashboard_report_path(denuncia) , :class => 'btn btn-success btn-lg outlineverde'%>
      </div>
     <% end %>
     <% end %>
     <% end %>
     <% end %>
   </tbody>
 </table>
</div>


