<a-verde > <%= render_breadcrumbs :separator => ' / ',:class => 'a-verde texto-verde' %></a-verde >
<div class="row text-center">
  <div class="col-lg-10 col-lg-offset-1">
   <%= content_tag :h1, t('.new_complaint') %>
   <hr class="small">
   <br>
 </div>
</div>
<div class="container">
 <H2> <%=t('.razon_denuncia')%></H2>
 <espacio>

  <%= form_for @complaint, url: city_complaints_path do |f| %>
  <div class="form-group">
    <%= f.radio_button :reason, "regulation_violation", :checked => true %>
    <%= f.label :reason_regulation_violation, COMPLAINTS["regulation_violation"] %>
  </div>

  <div class="form-group">
    <%= f.radio_button :reason, "bribe" %>
    <%= f.label :reason_bribe, COMPLAINTS["bribe"] %>
  </div>

  <div class="form-group">
    <%= f.radio_button :reason, "no_documentation" %>
    <%= f.label :reason_no_documentation, COMPLAINTS["no_documentation"] %>
  </div>

  <div class="form-group">
    <%= f.radio_button :reason, "invalid_seals" %>
    <%= f.label :reason_invalid_seals, COMPLAINTS["invalid_seals"] %>
  </div>

  <div class="form-group">
    <%= f.radio_button :reason, "other" %>
    <%= f.label :reason_other, "Otro: " %>
    <%= f.text_field :custom_reason, class: 'form-control', style: 'margin-left: 15px;width: 300px;display:inline;',:placeholder => t('.razon_denuncia_texto') %>
  </div>

  <br>
  <div class="form-group">
   <div class="row">
    <div class= "col-md-4">
      <%= f.label "Descripción" %>
   </div>
   <div class='texto-rojo col-md-8 text-left'><%=@complaint.errors[:description][0].to_s%>
   </div>
 </div>
 <%= f.text_area :description, class: 'form-control',:placeholder => t('.descripcion_denuncia') %>
</div>
<br>
<div class="form-group">
  <%= f.submit t('.save_button'), class: 'btn btn-success btn-lg outlineverde' %>
</div>
<% end %>
</div>
