<div class="row text-center">
  <div class="col-lg-10 col-lg-offset-1">
    <%= content_tag :h1,t('.title'), class: 'text-center texto-verde ' %>
    <hr class="small">
    <br>
  </div>
</div>
  <%= render "shared/search", custom_path: city_inspectors_path(@city), search_placeholder: t('.search_inspectors') %>
  <br><br>
  <% if @inspectors.any? %>
    <% @inspectors.each do |inspector| %>
      <%= link_to city_inspector_path(@city,inspector) do %>
      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <%= image_tag inspector.photo_url(:thumb) || "missing-image.gif" %>
          <div class="caption">
            <h4 class="title text-center texto-verde"><%= inspector.name %></h4>
            <h4 class="subtitle text-center"><%= inspector.validity %></h4>
          </div>
        </div>
      </div>
      <% end %>
    <% end %>
  <div class="row text-center">
    <%=paginate @inspectors, :window => 2%>
  </div>
  <% else %>
    <%= render "shared/empty_resource", message: t('.no_inspectors_available') %>
  <% end %>
