<a-verde > <%= render_breadcrumbs :separator => ' / ',:class => 'a-verde texto-verde' %></a-verde >
<div class="row text-center texto-verde">
  <%= content_tag :h1,t('.title') %>
  <%if @busqueda.nil?%>
    <p><%=t('.no_inspectors_selected_subtitle')%></p>
  <%else%>
    <p><%=t('.no_inspectors_selected_resultado')%></p>
  <%end%>
<!-- <hr class="small"> -->
</div>
<%= render "shared/search", custom_path: city_inspectors_path(@city), search_placeholder: t('.search_inspectors') %>
<br><br>
<% if @inspectors.any? %>
  <% @inspectors.each do |inspector| %>
    <%= link_to city_inspector_path(@city,inspector) do %>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <%= image_tag inspector.photo_url(:thumb) || "missing-image.gif" %>
        <div class="caption">
          <h4 class="title text-center texto-verde"><%= truncate(inspector.name, length: 16) %></h4>
          <h4 class="subtitle text-center"><%= inspector.validity %></h4>
        </div>
      </div>
    </div>
    <% end %>
  <% end %>
  <div class="row text-center">
    <%=paginate @inspectors, :window => 2%>
  </div>
<% end %>
