<div class="row text-left texto-verde texto-margin-top">
  <div class="col-sm-9 text-left">
    <a-verde > <%= render_breadcrumbs :separator => ' / ',:class => 'a-verde texto-verde' %></a-verde >
  </div>
  <div class="col-sm-3 text-right">
    <%= link_to t('.nueva_busqueda'), city_inspections_path, class: 'btn btn-success btn-lg outlineverde text-right' %>
  </div>
</div>

<div class="row text-center">
  <h3 class="title texto-verde"><%= @inspector.name %></h3>
  <div style="border: 1px solid white;background-color: white;">
    <div class="thumbnail" style="margin-left:auto;margin-right:auto;width:305px;height:305px;">
      <%= image_tag @inspector.photo_url || "missing-image.gif", :class=>"img-inspector-show" %>
    </div>
    <div class="col-md-12">
      <div class="col-md-4 texto-verde-wrap text-right"><%= t('.vigencia') %></div>
      <div class ="col-md-8 bg-primary-negro text-left"><%= @inspector.validity %></div>
    </div>
    
    <div class="col-md-12">
      <div class="col-md-4 texto-verde-wrap text-right"><%= t('.materia') %></div>
      <div class ="col-md-8 bg-primary-negro text-left"><%= @inspector.matter %></div>
    </div>
    
    <div class="col-md-12">
      <div class="col-md-4 texto-verde-wrap text-right"><%= t('.supervisor') %></div>
      <div class ="col-md-8 bg-primary-negro text-left"><%= @inspector.supervisor %></div>
    </div>
    
    <div class="col-md-12">
      <div class="col-md-4 texto-verde-wrap text-right"><%= t('.contacto') %></div>
      <div class ="col-md-8 bg-primary-negro text-left"><%= @inspector.contact %></div>
    </div>

  </div>
</div>
