<div class="container top-cruds">
  <div class="row">
    <div class="col-md-8">
      <h2> <%= t('titles.requirements') %></h2>
    </div>
    <div class="col-md-4 text-right">
      Descargar:
      <%= link_to "CSV", dashboard_requirements_path( format: "csv"), :class => 'btn btn-success btn-lg outlineverde' %>
    </div>
  </div>
  <hr>
  <div class="row text-right">
    <%= link_to t('.new_requirements'), new_dashboard_requirement_path, :class => 'btn btn-success btn-lg outlineverde texto-padding-right' %>
  </div>
  <table class="table">
   <thead>
     <th>#</th>
     <th><%= t('.name') %></th>
     <th><%= t('.municipio') %></th>
   </thead>
   <tbody>
     <% @requirements.each_with_index do |requirement, idx| %>
     <%= content_tag :tr do %>
     <%= content_tag :td, idx + 1 %>
     <%= content_tag :td, truncate(requirement.name, :length => 70)%>
     <%= content_tag :td, requirement.city.name  %>
     <%= content_tag :td do %>
     <div class="text-right">
      <%= link_to t('form.actions.edit'), edit_dashboard_requirement_path(requirement) , :class => 'btn btn-success btn-lg outlineverde'%> |
      <%= link_to t('form.actions.destroy'), dashboard_requirement_path(requirement), method: :delete, data: { confirm: t('form.confirmations.delete_requirement') }, :class => 'btn btn-success btn-lg outlineverde' %>
      </div>
     <% end %>
     <% end %>
     <% end %>
   </tbody>
 </table>
</div>