<%flash.each do |key, value| %>
<div class="alert alert-success" ><%=value%></div>
<% end %>
<div id="wrap"}>
  <div id="main" class="clear-top">
    <h1 class="title text-center texto-verde"><%=t('.edit_profile')%></h1>
    <p class="text-center"> <%=t('.edit_profile_explicacion')%> </p>
    <div id="authentication">
      <%= form_for(@user, html: { multipart: true }, :validate => true) do |f| %>
      <div class="form-group">
        <div class="row">
          <div class= "col-md-4">
           <%= f.label t('.name') %>
         </div>
         <div class='texto-rojo col-md-8 text-left'><%=@user.errors[:name][0].to_s%></div>
       </div>
       <%= f.text_field :name , class: 'form-controler',:placeholder => 'Nombre completo' %>
     </div>
     <div class="form-group">
      <div class="row">
        <div class= "col-md-4">
          <%= f.label t('.correo') %></div>
          <div class='texto-rojo col-md-8 text-left'><%=@user.errors[:email][0].to_s%></div>
        </div>
        <%= f.text_field :email ,  class: 'form-controler',:placeholder => 'Correo electrónico' %>
      </div>
      <div class="form-group">
        <div class="row">
          <div class= "col-md-4">
            <%= f.label t('.city_id') %>
          </div>
          <div class='texto-rojo col-md-8 text-left'><%=@user.errors[:city_id][0].to_s%></div>
        </div>
        <%= f.select :city_id, @cities.map { |u| [u.name, u.id] },{ include_blank: true ,selected: @city_select}, { class: 'chosen-select',:onchange=>"changeLines()" }%>
      </div>
      <div class="form-group line_for_city hide">
        <div class="row">
          <div class= "col-md-4">
            <%= f.label t('.line') %>
          </div>
        </div>
        <%= f.select :line_id, @lines.map { |u| [u.name, u.id] },{ include_blank: true ,selected: @line_select}, { class: 'chosen-select' }%>
      </div>
      <div class="form-group">
        <div class="row">
          <div class= "col-md-12">
            <%= f.label t('.mapa') %>
          </div>
        </div>
        <div id="geolocation" style='width: 100%; height: 400px;'></div>
        <div class="row texto-margin-center">
          <div class= "col-md-6 ">
            <%= f.text_field :latitude , class: 'form-controler', :placeholder => 'Latitud', :readonly => true %>
          </div>
          <div class= "col-md-6">
            <%= f.text_field :longitude , class: 'form-controler', :placeholder => 'Longitud', :readonly => true%>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class= "col-md-4">
            <%= f.label t('.business_name') %>
          </div>
          <div class='texto-rojo col-md-8 text-left'><%=@user.errors[:business_name][0].to_s%></div>
        </div>
        <%= f.text_field :business_name , class: 'form-controler', :placeholder => 'El nombre de tu negocio o empresa' %>
      </div>
      <div class="form-group">
        <div class="row">
          <div class= "col-md-4">
            <%= f.label t('.address') %></div>
            <div class='texto-rojo col-md-8 text-left'><%=@user.errors[:address][0].to_s%></div>
          </div>
          <%= f.text_area :address ,  class: 'form-controler', :placeholder => 'Dirección del negocio'%>
        </div>
        <div class="form-group">
          <div class="row">
            <div class= "col-md-4">
              <%= f.label t('.phone') %></div>
            </div>
            <%= f.text_field :phone ,  class: 'form-controler', :placeholder => 'Teléfono del negocio' %>
          </div>
          <div class="form-group">
            <div class="row">
              <div class= "col-md-4">
                <%= f.label t('.schedule') %></div>
              </div>
              <%= f.text_field :schedule ,  class: 'form-controler', :placeholder => 'Horario del negocio' %>
            </div>
            <div class="form-group">
              <div class="row">
                <div class= "col-md-4">
                  <%= f.label t('.operation_license') %></div>
                  <div class='texto-rojo col-md-8 text-left'><%=@user.errors[:operation_license][0].to_s%></div>
                </div>
                <%= f.text_field :operation_license ,  class: 'form-controler', :placeholder => 'Licencia de operacón' %>
              </div>
              <div class="form-group">
                <%= f.label t('.operation_license_file') %><br />
                <span><%= link_to(@user.operation_license_file_identifier, @user.operation_license_file_url, target: "_blank", style:"color: black;") if @user.operation_license_file.present? %></span>
                <%= f.file_field :operation_license_file %>
              </div>
              <div class="form-group">
                <%= f.label t('.land_permission_file') %><br />
                <span><%= link_to(@user.land_permission_file_identifier, @user.land_permission_file_url, target: "_blank", style:"color: black;") if @user.land_permission_file.present? %></span>
                <%= f.file_field :land_permission_file %>
              </div>
              <div class="text-center">
                <%= f.submit t('.save'), class: 'btn btn-success btn-lg outlineverde col-md-6 col-md-offset-3 texto-margin-bottom-long' %>
              </div>
              <% end %>
            </div>
          </div>
        </div>
        <script type='text/javascript'>

        var handler;
        var geocoder;
        var marker;
        var infowindow;

        function loadMap(){
          handler = Gmaps.build('Google');
          infowindow = new google.maps.InfoWindow();
          handler.buildMap({ internal: {id: 'geolocation'} }, function(){
            geocoder = new google.maps.Geocoder();
            user_has_location = <%= @user.latitude.nil? %>;
            if(user_has_location){
              if(navigator.geolocation){
                navigator.geolocation.getCurrentPosition(displayOnMap);
              }  
            }else{
              displayOnMap('loading') 
            }
          });
          var e = document.getElementById("user_city_id");
          if(e.value != "" || e.value != null){
            $(".line_for_city").removeClass("hide");
          }
        }

        function displayOnMap(position){
          if(position!='loading'){
           marker = handler.addMarker({
            lat: position.coords.latitude,
            lng: position.coords.longitude
          },{ draggable: true});
          codeLatLng(position.coords.latitude,position.coords.longitude);
         }else{
          marker = handler.addMarker({
            lat: <%=@user.latitude.nil? ? 0 : @user.latitude %>,
            lng: <%=@user.longitude.nil? ? 0 : @user.longitude %>
          },{ draggable: true});
          codeLatLng(<%=@user.latitude.nil? ? 0 : @user.latitude %>,<%=@user.longitude.nil? ? 0 : @user.longitude %>);
        }
        handler.map.centerOn(marker);
        handler.getMap().setZoom(18);
        google.maps.event.addListener(marker.serviceObject, 'dragend', function() {
          updateFormLocation(this.getPosition());
        });

      }

      function updateFormLocation(latLng) {
        $('#latitude').val(latLng.lat());
        $('#longitude').val(latLng.lng());
        codeLatLng(latLng.lat(),latLng.lng());
      }
      function codeLatLng(lat, lng) {
        document.getElementById('user_latitude').value = lat;
        document.getElementById('user_longitude').value = lng;
        var latlng = new google.maps.LatLng(lat,lng);
        geocoder.geocode({'latLng': latlng}, function(results, status) {
          if (status == google.maps.GeocoderStatus.OK) {
            if (results[1]) {
              document.getElementById('user_address').value = results[1].formatted_address;
            }
            else{
              alert("Geocoder Not results "+ status);
            }
          } else {
            alert("Geocoder failed due to: " + status);
          }
        });
        $('#user_address').keyup(function() {
          delay(function(){
            address_latlng(document.getElementById('user_address').value);
          }, 5000 );
        });
      }
      function changeLines(){
        var e = document.getElementById("user_city_id");
        if(e.value == "" || e.value == null){
          $(".line_for_city").addClass("hide");
        }else{
          $(".line_for_city").removeClass("hide");
        }
        reloadLines(e.value);
      }

      function reloadLines(values){
        var url = window.location.href.split('?')[0];
        if(url.includes("#_=_")){
          url = url.replace("#_=_","");
        }
        window.location.href = url + "?city="+values;
      }

      $(document).ready(loadMap);

      function address_latlng(address){
        geocoder.geocode( { 'address': address}, function(results, status) {
          if (status == google.maps.GeocoderStatus.OK) {
            var latitude = results[0].geometry.location.lat();
            var longitude = results[0].geometry.location.lng();
            marker = handler.addMarker({
            lat: latitude,
            lng: longitude
          },{ draggable: true});
            handler.map.centerOn(marker);
            handler.getMap().setZoom(18);
          } 
        });
      }

      var delay = (function(){
        var timer = 0;
        return function(callback, ms){
        clearTimeout (timer);
        timer = setTimeout(callback, ms);
        };
        })();

    </script>