<div id="wrap"}>
  <div id="main" class="clear-top">
    
   <!-- -->
<div class="row">
  <div class="col-sm-9 text-left">
    <a-verde > <%= render_breadcrumbs :separator => ' / ',:class => 'a-verde texto-verde' %></a-verde >
  </div>
</div>

<h1 class="title text-center texto-verde"><%=t('.add_business')%></h1>

<div class="form-group row">
 <div class="col-sm-12 text-right texto-padding-bottom">
    <%=link_to t('.nuevo'), new_user_business_path(current_user), class: 'btn btn-success btn-lg outlineverde text-right' %>
  </div>
</div>

<%unless @bussines.nil? || @bussines.empty?%>
<h2> <%= t('titles.reminder') %></h2>
<div class="row text-right">
</div>
<table class="table">
 <thead>
   <th>#</th>
   <th><%= t('.name') %></th>
   <th><%= t('.license') %></th>
   <th><%= t('.until') %></th>
   <th><%= t('.frequency') %></th>
   <th class="text-right"></th>
 </thead>
 <tbody>
   <% @bussines.each_with_index do |business, idx| %>
   <%= content_tag :tr do %>
   <%= content_tag :td, idx + 1 %>
   <%= content_tag :td, business.name %>
   <%= content_tag :td, business.address %>
   <%= content_tag :td, business.schedule %>
   <%= content_tag :td, business.city_id %>
   <%= content_tag :td, business.operation_license %>
   <%= content_tag :td, business.operation_license_file %>
   <%= content_tag :td, business.land_permission_file %>
   <%= content_tag :td, business.line_id %><%= content_tag :td, business.latitude %>
   <%= content_tag :td, business.longitude %>
   <%= content_tag :td, :class => 'text-right' do %>
   <%= link_to t('.edit'), edit_user_business_path(@user,business.id) , :class => 'btn btn-success btn-xs outlineverde text-right'%> 
   <%= link_to t('.borrar'), user_business_path(@user, business.id), method: :delete, data: { confirm: t('form.confirmations.delete_reminder') }, :class => 'btn btn-success btn-xs outlineverde text-right' %>
   <% end %>
   <% end %>
   <% end %>
 </tbody>
</table>
<%end%>

    </div>
  </div>