<% if @city.present?%>
<footer class="footer">
  <div class="col-md-4 ">
    <div class="row col-md-6 col-md-offset-4">
      <div class="col-md-6">
          <%= image_tag "Logoblanco.png", class: "img-responsive-footer center-block" %>
      </div>
      <div class="col-md-6">
          <%= image_tag "usaid.png", class: "img-responsive-footer center-block" %>
      </div>
    </div>
    
  </div>
  <div class="col-md-8 text-center">
    <ul class="list-inline ">
      <li class="text-center"><%= link_to t('footer.acerca_de'), city_about_path(@city) %></li> |
      <li class="text-center"><%= link_to t('footer.aviso'), city_aviso_path(@city) %></li> |
      <li class="text-center"><%= link_to t('footer.estandar'),  t('footer.url_estandar') , :target => "_blank" %></li>
      <%if @city.construction_file != "" || @city.business_file != "" || @city.land_file != ""|| @city.regulations_path != ""%>
       | <li class="text-center">
            <a class = "a" href="" data-toggle="modal" data-target="#myModalDialogNormas"><%="#{t('footer.normas')} #{@city.name}"%></a>
        </li> 
      <%end%>
      <%unless @city.contact_email.nil? || @city.contact_phone.nil?%>
        | <li class="text-center">
            <a class = "a" href="" data-toggle="modal" data-target="#myModalDialogContact"><%="#{t('footer.contacto')} #{@city.name}"%></a>
        </li> 
      <%end%>
</ul>
</div>
</footer>
<% end %>



<!--Modal para explicar porque no hay más municipios-->
<!-- Button trigger modal -->
<div class="modal fade" id="myModalDialogNormas" tabindex="-1" role="dialog" aria-labelledby="myModalDialogLabel" aria-hidden="true">
  <div class="modal-dialog-center">
    <div class="modal-content" >
      <%unless @city.nil? %>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title bg-primary-verde texto-verde" id="myModalLabel"><%="#{t('footer.normas')} #{@city.name}"%></h4>
      </div>
      <%end%>
      <div class="modal-body texto-verde-wrap">
        <%unless @city.nil?%>
        
          <%if @city.construction_file.to_s != ""%>
            <%= link_to t('footer.construction'), @city.construction_file.to_s , :target => "_blank", :class =>"texto-verde" %>
            </BR>
          <%end%>
          <%if @city.business_file.to_s != "" %>
           <%= link_to t('footer.business'), @city.business_file.to_s , :target => "_blank", :class =>"texto-verde" %>
           </BR>
          <%end%>
          <%if @city.land_file.to_s  != ""%>
            <%= link_to t('footer.land'), @city.land_file.to_s , :target => "_blank", :class =>"texto-verde" %> 
            </BR>
          <%end%>
          <%if @city.regulations_path != ""%>
            <%= link_to t('footer.regulation'), @city.regulations_path , :target => "_blank", :class =>"texto-verde" %> 
            </BR>
          <%end%>
        
        <%end%>
      </div>
    </div>
  </div>
</div>

<!--Modal para explicar porque no hay más municipios-->
<!-- Button trigger modal -->
<div class="modal fade" id="myModalDialogContact" tabindex="-1" role="dialog" aria-labelledby="myModalDialogLabel" aria-hidden="true">
  <div class="modal-dialog-center">
    <div class="modal-content" >
      <%unless @city.nil? %>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title bg-primary-verde texto-verde" id="myModalLabel"><%="#{t('footer.contacto')} #{@city.name}"%></h4>
      </div>
      <%end%>
      <div class="modal-body">
       <%unless @city.nil? %> 
         <%unless @city.contact_email.nil?%>
          <%= mail_to @city.contact_email, "#{t('footer.correo')}: #{@city.contact_email}", :class =>"texto-verde" %> 
          </BR>
         <%end%>
         <%unless(@city.contact_phone.nil?)%>
         <div class="texto-verde">
           <%="#{t('footer.llama')}: #{@city.contact_phone}"%>
          </div>
         <%end%>
        <%end%> 
     </div>
   </div>
 </div>
</div>



