%footer.footer
  %div.row.footer-admin
    %div.col-xs-12.col-md-4.text-left
      = t('footer.desarrollado')
      = link_to t('footer.imco'),  t('footer.url_imco')
      = t('footer.civica')
    %div.col-xs-12.col-md-4.text-center
      = t('footer.minegocio')
    %div.col-xs-12.col-md-4.text-right
      = link_to t('footer.aviso'), city_aviso_path(current_user.city_id)
      |
      = mail_to t('footer.contacto'), t('footer.contactanos')