<% if @city.present?%>
  <footer class="footer">
      <div class="col-md-4 text-center margin-footer">
        <%= image_tag "Logoblanco.png", class: "img-responsive-footer center-block" %>
      </div>
      <div class="col-md-2 text-center margin-footer">
      </div>
      <div class="col-md-6 text-center">
        <ul class="list-inline ">
          <li class="text-center"><%= link_to t('footer.acerca_de'), city_about_path(@city) %></li> |
          <li class="text-center"><%= link_to t('footer.aviso'), city_aviso_path(@city) %></li> |
          <li class="text-center"><%= link_to t('footer.estandar'),  t('footer.url_estandar') , :target => "_blank" %></li>
          <%unless @city.regulations_path.nil?%>
            | <li class="text-center"><%= link_to t('footer.regulation'), @city.regulations_path , :target => "_blank" %></li> 
          <%end%>
          <br/>
          <%unless(@city.contact_email.nil?)%>
            <li class="text-center"><%= mail_to @city.contact_email, "#{t('footer.correo')} #{@city.name}" %></li> 
          <%end%>
          <%unless(@city.contact_phone.nil?)%>
            | <li class="text-center"> <%="#{t('footer.llama')} #{@city.name}: #{@city.contact_phone}" %></li>
          <%end%>
        </ul>
      </div>
  </footer>
<% end %>
