<div class="row slight-bottom-margin">
  <!-- checkbox toogle to show or hide markers -->
  <div class="col-xs-12 col-sm-11">
    <div class="checkbox">
      <label>
        <input id="map-toogle" type='checkbox' onclick="toogleBusinesses()" checked>&nbsp;
        <%= t('.show_businesses') %>
      </label>
    </div>
  </div>

  <!-- here start the map/table options -->
  <div class="col-xs-12 col-sm-1">
    <div class="btn-group btn-group-justified" role="group" aria-label="Map options">
      <a role="button" class="btn btn-default btn-option" onclick="switchView('map')"><i class="fa fa-map-marker"></i></a>
      <a role="button" class="btn btn-default btn-option" onclick="switchView('table')"><i class="fa fa-list"></i></a>
    </div>
  </div>
</div>

<div class="row slight-bottom-margin">
  <div id="markers-table">
    <% if markers.any? %>
      <table class="table table-hover">
        <thead>
          <th>#</th>
          <th><%= t('.name') %></th>
          <th><%= t('.line_of_work') %></th>
          <th><%= t('.address') %></th>
          <th><%= t('.phone') %></th>
          <th><%= t('.schedule') %></th>
        </thead>
        <tbody>
          <% markers.each_with_index do |marker, idx| %>
            <tr>
              <td><%= idx + 1 %></td>
              <td><%= marker.name %></td>
              <td><%= marker.line %></td>
              <td><%= marker.address %></td>
              <td><%= marker.phone %></td>
              <td><%= marker.schedule %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= link_to t('buttons.downloader'), download_csv_business_city_users_path(:city_id => @city, format: :csv),:class => "btn btn-success btn-lg outlineverde"
%>
    <% else %>
      <%= render 'shared/empty_resource', message: t('.no_businesses_available') %>
    <% end %>
  </div>

  <div id="markers-map">
    <div id="gmap" style='height: 450px;'></div>
  </div>
</div>

<!-- let's render our map -->
<script>
  initialize(<%= raw markers.to_json %>, <%= raw center.to_json %>);
</script>
