<nav class="navbar  navbar-user navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <% if @city %>
        <%= link_to navbar_title(@city.name), city_path(@city), class: 'navbar-brand', style: 'font-size:16px;' %>
      <% else %>
        <%= link_to navbar_title(@city), root_path, class: 'navbar-brand', style: 'font-size:16px;' %>
      <% end %>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="navbar-right">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <% if @city %>
          <% if current_page? city_path(@city) %>
            <%#= content_tag :li, link_to(t('navbar.inicio'), root_path, class: 'a-verde') %>
          <% else %>
            <%= content_tag :li, link_to(t('navbar.new'), city_formation_steps_path(@city)) %>
            <%= content_tag :li, link_to(t('navbar.tramite'), city_procedure_lines_path(@city)) %>
            <%= content_tag :li, link_to(t('navbar.inspections'), city_inspections_path(@city)) %>
            <%= content_tag :li, link_to(t('navbar.inspectors'), city_inspectors_path(@city)) %>
            <%= content_tag :li, link_to(t('navbar.floor_utilization'), city_users_path(@city)) %>
          <% end %>
        <% end %>
        <% if user_signed_in? %>
          <li>
            <div class="dropdown dropdown-padding-top">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><%= current_user %><span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <%current_businesses.order(using: :desc).each do |business|%>
                <li>
                  <%if business.using == true%>
                    <%= link_to "#{business.name} (Activo)", change_business_imcos_path(:business => business.id), data: { no_turbolink: true }, :class=> "background-menu"%>
                  <%else%>
                    <%= link_to business.name, change_business_imcos_path(:business => business.id), data: { no_turbolink: true }, :class=> "background-menu"%>
                  <%end%>
                </li>
                <%end%>
                <hr>
                <li><%= link_to t('navbar.edit_profile'), edit_user_path(current_user) , data: { no_turbolink: true } %></li>
                <li><%= link_to t('navbar.sign_out'), destroy_user_session_path, method: :delete %></li>
              </ul>
            </div>
          </li>
        <% end %>
      </ul>
          </div>
    </div>
  </div>
</nav>