-@number_of_procedure=0
-@add_headers = true
- if @tramites_del_giro && @tramites_del_giro.any?
  %table.table.table-hover.slight-top-margin{ 'ng-controller'=> 'ProcedureCtrl as procedures'}
    - @tramites_del_giro.each do |tramite_de_giro|
      - if((valida_tipo_procedure(Procedure.find(tramite_de_giro.procedure_id).type_procedure, @tipo)) && Procedure.find(tramite_de_giro.procedure_id).category == @categoria)
        - procedure = Procedure.find(tramite_de_giro.procedure_id)
        -if @add_headers
          %tr.texto-verde
            %th= t('.hecho')
            %th.col-sm-4= t('.nombre')
            %th.col-sm-1= t('.tipo')
            %th.col-sm-2= t('.costo')
            %th.col-sm-2= t('.vigencia')
            %th.col-sm-2= t('.duracion')
            -@add_headers=false
        %tr{ 'ng-class'=> "{ 'done': procedures.items[#{procedure.id}] }"}
          - if user_signed_in?
            %td{ 'ng-init'=> "procedures.items[#{procedure.id}] = #{UserProcedure.exists?(user: current_user, procedure: procedure)}"}
              %label{ style: 'font-weight: 400;' }
                %input{ type: 'checkbox', 'ng-model'=> "procedures.items[#{procedure.id}]", 'ng-click'=> "procedures.update({ 'done': procedures.items[#{procedure.id}], 'user_id': #{current_user.id}, 'procedure_id': #{procedure.id}, 'path': \'#{user_procedures_path}\'})"} &nbsp;
          - else
            -# let's redirect the user to the login page
            %td
              %label{ style: 'font-weight: 400;' }
                %input{ type: 'checkbox', 'ng-click'=> "procedures.redirect(\'#{new_user_path}\')"} &nbsp;
          -unless procedure.name.nil?
            -@number_of_procedure+=1
          %td.col-sm-4
            = link_to city_procedure_line_path(@city,tramite_de_giro), class: 'texto-verde' do
              = procedure.name
          %td.col-sm-1
            = tipo(procedure.type_procedure)
          %td.col-sm-2
            = procedure.cost
          %td.col-sm-2
            = procedure.validity
          %td.col-sm-2
            = procedure.long
-if(@number_of_procedure == 0)
  = render 'shared/empty_resource', message: t('procedure_lines.index.no_procedure_lines_available')