<div class="deck">
  <% unless @tramites_del_giro.nil? || @tramites_del_giro.empty?%>
    <div class="table__card">
      <ul>
        <% count = 0 %>
        <% @tramites_del_giro.each do |tramite_de_giro| %>
          <%if Procedure.find(tramite_de_giro.procedure_id).type_procedure == @tipo || @tipo == 'A' %>
            <% count +=1 %>
            <%if count == 1%>
              <br>
              <br>
              <div class="col-xs-6 col-sm-4"><p class="text-center texto-verde-wrap"><%= t('.nombre')%></p></div>
              <div class="col-xs-6 col-sm-2"><p class="text-center texto-verde-wrap"><%= t('.tipo')%></p></div>
              <div class="col-xs-6 col-sm-2"><p class="text-center texto-verde-wrap"><%= t('.costo')%></p></div>
              <div class="col-xs-6 col-sm-2"><p class="text-center texto-verde-wrap"><%= t('.vigencia')%></p></div>
              <div class="col-xs-6 col-sm-2"><p class="text-center texto-verde-wrap"><%= t('.duracion')%></p></div>
            <%end%>
            <%= link_to city_procedure_line_path(@city,tramite_de_giro) do %>
            <%if Procedure.find(tramite_de_giro.procedure_id).categoria == @categoria%>
              <li class="table--row">
               <div class="row--">
                <div class="col-xs-6 col-sm-4"><p class="text-left texto-negro" ><%= Procedure.find(tramite_de_giro.procedure_id).name %></p></div>
                <div class="col-xs-6 col-sm-2"><p class="text-center texto-negro"><%= tipo(Procedure.find(tramite_de_giro.procedure_id).type_procedure) %></p></div>
                <div class="col-xs-6 col-sm-2"><p class="text-center texto-negro"><%= Procedure.find(tramite_de_giro.procedure_id).cost %></p></div>
                <div class="col-xs-6 col-sm-2"><p class="text-center texto-negro"><%= Procedure.find(tramite_de_giro.procedure_id).validity %></p></div>
                <div class="col-xs-6 col-sm-2"><p class="text-center texto-negro"><%= Procedure.find(tramite_de_giro.procedure_id).long %></p></div>
                </div> 
                <% dialogo_sin_tramites = 'true'%>
              </li>
             <%end%> 
            <%end%>
          <% end %>
        <% end %>
        <%if count == 0 %>
          <br>
           <br>
          <%= render "shared/empty_resource", message: t('procedure_lines.index.no_procedure_lines_available') %>
        <%end%>
      </ul>
    </div>
  <% else %>
    <br>
     <br>
    <%= render "shared/empty_resource", message: t('procedure_lines.index.no_procedure_lines_selected') %>
  <% end %>
</div>