<div class="col-lg-12 text-center">
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container-fluid">
				<% if user_signed_in? %>
					<p class="navbar-text pull-right navbar-custom"><texto-blanco><%="#{current_user}\t"%> |</texto-blanco> <%=link_to t('.salir'), destroy_user_session_path(:authenticity_token => form_authenticity_token()),:method => :delete, :class => 'a-verde'%>
					</p>
				<% else %>
					<%= link_to t('.iniciar_sesion'), new_user_path, :class => 'navbar-text pull-right navbar-custom manita'%>
				<% end %>
			</div>
		</div>
	</div>
	<div class="col-md-6 col-md-offset-3">
	<%= render "shared/show_flash" %>
	</div>
	<%= image_tag "logo.png", class: "img-responsive center-block center-block-top"%>
	<div class="navbar-text-blanco">
		<h3><%=t('.subtitulo')%></h3>
	</div>

	<!--Seccion Temporal!-->
	<div class="row text-center ">
		<div class="col-md-8 col-md-offset-2">
			<%@cities.each_with_index do |city, index|%>
				<%if index==0 || index==3%>
						<div class="row">
					<%end%>
				<div class="col-md-4 margin-bottom-button"><%= link_to city.name, city_path(city.id),  :class => 'btn btn-success btn-lg outline full-width margin-bottom-button' %>
				</div>
				<%if index==2 || index==5%>
					</div>
				<%end%>
			<%end%>
		</div>
	</div>

	<div class="navbar-text-blanco">
		<%=t('.no_municipio')%> <a-verde class = "m" href="" data-toggle="modal" data-target="#myModalDialog"> <%=t('.click')%></a-verde>
	</div>

	<!--Modal para explicar porque no hay más municipios-->
	<!-- Button trigger modal -->
	<div class="modal fade" id="myModalDialog" tabindex="-1" role="dialog" aria-labelledby="myModalDialogLabel" aria-hidden="true">
		<div class="modal-dialog-center">
			<div class="modal-content" >
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title bg-primary-verde texto-verde" id="myModalLabel"><%=t('.titulo_modal')%></h4>
				</div>
				<div class="modal-body">
					<%=t('.contenido_modal')%>
				</div>
			</div>
		</div>
	</div>
	<div id="fb-root"></div>

</div>

<script src="/javascripts/application.js" type="text/javascript" charset="utf-8" async defer>
(function(d, s, id) {
	var js, fjs = d.getElementsByTagName(s)[0];
	if (d.getElementById(id)) return;
	js = d.createElement(s); js.id = id;
	js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&appId=1499379517003281&version=v2.0";
	fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>
