<div class="col-lg-12 text-center">

  <%= render 'shared/navbar'%>

	<%= image_tag "logo.png", class: "img-responsive center-block"%>

	<div class= "row">
		<div class="col-md-8 col-md-offset-2 navbar-text-blanco-just padding-text-top-landing">
				<%=t('.texto_explicativo')%>
		</div>
	</div>

  <%= render 'shared/messages/new_cities'%>

	<div class="navbar-text-blanco">
		<h3><%=t('.subtitulo')%></h3>
	</div>

	<div class="row col-md-12">
		<div class="col-md-8 col-md-offset-2">
			<div class="col-md-10 col-md-offset-1">
				<%= select :city,:city, @cities.map { |u| [u.name, u.id] },{ include_blank: true }, { class: 'chosen-select' }%>
			</div>
		</div>
	</div>

  <div class="row col-md-12">
  	<div class="navbar-text-blanco">
  		<%=t('.no_municipio')%> <a-verde class = "m" href="" data-toggle="modal" data-target="#myModalShare"> <%=t('.click')%></a-verde>
  	</div>
  </div>

  <%= render 'shared/messages/modal_share'%>

</div>

<script type="text/javascript" charset="utf-8" async defer>
(function(d, s, id) {
	var js, fjs = d.getElementsByTagName(s)[0];
	if (d.getElementById(id)) return;
	js = d.createElement(s); js.id = id;
	js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&appId=1499379517003281&version=v2.0";
	fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>

<script type='text/javascript'>
function activeSend(){
	document.getElementById("shared_twitter").removeAttribute("data-title");
	window.order = $("#state_cat_twitter option:selected").val();
    var url = window.location.href;
    if(url.includes("#_=_")){
       url = url.replace("#_=_","");
    }
    window.url = url;
    $.ajax({
           type:'GET', 
           url: window.url,
           success: function(){
           },
          error: function(){
          }, 
           data: $.param({ pagetime: {state_id: window.order}})
      });
}  
</script>