<div class="col-lg-12 text-center">
<%= render 'shared/navbar'%>

	<%= image_tag "logo.png", class: "img-responsive center-block center-block-top"%>
	<div class= "row">
		<div class="col-md-8 col-md-offset-2 navbar-text-blanco-just padding-text-top-landing">
			<%=t('.texto_explicativo')%>
		</div>
	</div>	


	<div class="navbar-text-blanco">
		<h3><%=t('.subtitulo')%></h3>
	</div>

	<!--Seccion Temporal!-->
	<div class="row text-center ">
		<div class="col-md-8 col-md-offset-2">
			<%@cities.each_with_index do |city, index|%>
				<%if index==0 || index==3%>
						<div class="row">
					<%end%>
				<div class="col-md-4 margin-bottom-button"><%= link_to city.name, city_path(city.id),  :class => 'btn btn-success btn-lg outline full-width margin-bottom-button' %>
				</div>
				<%if index==2 || index==5%>
					</div>
				<%end%>
			<%end%>
		</div>
	</div>


	<div class="navbar-text-blanco">
		<%=t('.no_municipio')%> <a-verde class = "m" href="" data-toggle="modal" data-target="#myModalDialog"> <%=t('.click')%></a-verde>
	</div>

	<!--Modal para explicar porque no hay más municipios-->
	<!-- Button trigger modal -->
	<div class="modal fade" id="myModalDialog" tabindex="-1" role="dialog" aria-labelledby="myModalDialogLabel" aria-hidden="true">
		<div class="modal-dialog-center">
			<div class="modal-content" >
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title bg-primary-verde texto-verde" id="myModalLabel"><%=t('.titulo_modal')%></h4>
				</div>
				<div class="modal-body">
					<%=t('.contenido_modal')%>
					<hr>
					<%=t('social_share_button.texto_municipio')%>
					<div class="row margin-modal">
						<div class="col-md-10">
						<%=select_tag "state_cat_twitter", options_from_collection_for_select(@states, "id", :state_and_town),{ class: 'chosen-select',include_blank: true,:onchange=>"activeSend()"}%>
						</div>
						<div class="col-md-2 ">
							<div id="shared_twitter" class="social-share-button"  data-img="" data-url="http://minegociomexico.mx" data-via="<%=@twitter_app%>" data-twitter-title="Unete a miNegocioMéxico" data-desc="" >
								<a class="btn btn-success btn-lg outlineverde-not-padding half-width button_to_send inactive" data-site="twitter" href="#" onclick="return SocialShareButton.share(this);" rel="nofollow"><i class="fa fa-twitter"></i></a>
							</div>
						</div>
					</div>
					<hr>
					<%=t('social_share_button.texto')%>
					<div class="social-share-button" data-title="Todo para abrir, mantener y cuidar MiNegocio" data-img="" data-url="http://minegociomexico.mx" data-via="<%=@twitter_app%>" data-desc= ""  >
						<a class="btn btn-social-icon border-tw btn-twitter" data-site="twitter" href="#" onclick="return SocialShareButton.share(this);" rel="nofollow"><i class="fa fa-twitter"></i></a>

						<a class="btn btn-social-icon btn-face border-face" data-site="facebook" href="#" onclick="return SocialShareButton.share(this);" rel="nofollow " title="Facebook"><i class="fa fa-facebook"></i></a>

						<a class="btn btn-social-icon border-gmas btn-google-plus" data-site="google_plus" href="#" onclick="return SocialShareButton.share(this);" rel="nofollow " title="G+"><i class="fa fa-google-plus"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="fb-root"></div>

</div>

<script src="/javascripts/application.js" type="text/javascript" charset="utf-8" async defer>
(function(d, s, id) {
	var js, fjs = d.getElementsByTagName(s)[0];
	if (d.getElementById(id)) return;
	js = d.createElement(s); js.id = id;
	js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&appId=1499379517003281&version=v2.0";
	fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>
<script type='text/javascript'>
function activeSend(){
	$(".button_to_send").addClass("inactive");
	document.getElementById("shared_twitter").removeAttribute("data-title");
	var e = document.getElementById("state_cat_twitter");
    window.order = e.value;
    var url = window.location.href;

    if(url.includes("#_=_")){
       url = url.replace("#_=_","");
    }
    window.url = url;
    $.ajax({
           type:'GET', 
           url: window.url,
           success: function(){
           	$(".button_to_send").removeClass("inactive");
           },
          error: function(){
          }, 
           data: $.param({ pagetime: {state_id: window.order}})
      });
}  
</script>