= form_for [:dashboard, @formation_step], html: { class: 'form-horizontal' } do |f|
  .row
    .panel.panel-default
      .panel-heading
        &nbsp;
        .pull-right
          = f.submit t('.create_formation_steps'), :class => 'btn btn-sm btn-success outlineverde'
      .panel-body
        %table{ class:'table table-striped table-bordered table-hover' }
          %tbody
            %tr
              %td= t('.name')
              %td= f.text_field :name, class: 'form-control'
            %tr
              %td= t('.description')
              %td= f.text_field :description, class: 'form-control'
            %tr
              %td= t('.path')
              %td= f.text_field :path, class: 'form-control'
            %tr
              %td= t('.type_formation_step')
              %td= f.select(:type_formation_step, type_of_people_formation_step, {:include_blank => false}, :class => 'form-control') 