%h2= t('titles.formation_steps')
= link_to t('.new_formation_step'), new_dashboard_formation_step_path, class: 'btn btn-xs btn-success outlineverde pull-right slight-bottom-margin'

- if @formation_steps.any?
  %table{ class:'table table-striped table-bordered table-hover' }
    %thead
      %th #
      %th= t('.name')
      %th= t('.tipo')
      %th= t('.dependency')
      %th= t('.actions')
    %tbody
      - @formation_steps.each_with_index do |formation, idx|
        %tr
          %td= idx + 1
          %td= formation.name
          %td= type(formation.type_formation_step)
          %td= formation.city.name
          %td
            = link_to edit_dashboard_formation_step_path(formation) do
              %i.fa.fa-pencil
            = link_to dashboard_formation_step_path(formation), method: :delete, data: { confirm: t('form.confirmations.delete_formation_step') } do
              %i.fa.fa-trash
  %p.pull-right
    Descargar:
    = link_to "CSV", dashboard_formation_steps_path( format: "csv") , :class => 'btn btn-success btn-xs outlineverde'
- else
  = render 'shared/empty_resource', message: t('.no_formation_steps_available')
