<div id="wrap"}>
  <div id="main" class="clear-top">
    <h1 class="title text-center texto-verde"><%=t('.edit_profile')%></h1>
    <p class="text-center"> <%=t('.edit_profile_explicacion')%> </p>
    <p class="text-center"><strong><%=t('.obligatorios')%></strong></p>
    <div id="authentication">
      <%= form_for(@business, html: { multipart: true}, :validate => true,  url: user_business_index_path ) do |f| %>
      <div class="form-group">
        <div class="row">
          <div class= "col-md-4">
           <%= f.label t('.name') %>
         </div>
         <div class='texto-rojo col-md-8 text-left'><%=@business.errors[:name][0].to_s%></div>
       </div>
       <%= f.text_field :name , class: 'form-controler',:placeholder => 'Nombre completo', :onchange=>"validate_requirements()" %>
     </div>
      <div class="form-group">
        <div class="row">
          <div class= "col-md-4">
            <%= f.label t('.city_id') %>
          </div>
          <div class='texto-rojo col-md-8 text-left'><%=@business.errors[:city_id][0].to_s%></div>
        </div>
        <%= f.select :city_id, @cities.map { |u| [u.name, u.id] },{ include_blank: true ,selected: @city_select}, { class: 'chosen-select',:onchange=>"changeLines()" }%>
      </div>
      <div class="form-group line_for_city hide">
        <div class="row">
          <div class= "col-md-4">
            <%= f.label t('.line') %>
          </div>
          <div class='texto-rojo col-md-8 text-left'><%=@business.errors[:line_id][0].to_s%></div>
        </div>
        <%= f.select :line_id, @lines.map { |u| [u.name, u.id] },{ include_blank: true ,selected: @line_select}, { class: 'chosen-select', :onchange => "validate_requirements()" }%>
      </div>
      <div class="form-group">
        <div class="row">
          <div class= "col-md-12">
            <%= f.label t('.mapa') %>
          </div>
        </div>
        <div id="geolocation" style='width: 100%; height: 400px;'></div>
        <div class="row texto-margin-center">
          <div class= "col-md-6 ">
            <%= f.text_field :latitude , class: 'form-controler', :placeholder => 'Latitud' %>
          </div>
          <div class= "col-md-6">
            <%= f.text_field :longitude , class: 'form-controler', :placeholder => 'Longitud'%>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class= "col-md-4">
            <%= f.label t('.address') %></div>
            <div class='texto-rojo col-md-8 text-left'><%=@business.errors[:address][0].to_s%></div>
          </div>
          <%= f.text_area :address ,  class: 'form-controler', :placeholder => 'Dirección del negocio', :onchange=>"validate_requirements()", :onkeypress => "loading();", :value => @address%>
          <div id="spinner" class="spinner" style="display:none;">
            <%= image_tag "spinner.gif", class: "img-responsive center-block" ,:id=>"img-spinner"%>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class= "col-md-4">
              <%= f.label t('.phone') %>
              <i><%= f.label t('.optional') %></i>
              <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="top" title="<%=t('.tooltip_telefono')%>"></i>
            </div>
          </div>
          <%= f.text_field :phone ,  class: 'form-controler', :placeholder => 'Teléfono del negocio', :value => @phone %>
        </div>
        <div class="form-group">
          <div class="row">
            <div class= "col-md-4">
              <%= f.label t('.schedule') %>
              <i><%= f.label t('.optional') %></i>
              <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="top" title="<%=t('.tooltip_horario')%>"></i>
            </div>
          </div>
          <%= f.text_field :schedule ,  class: 'form-controler', :placeholder => 'Horario del negocio', :value => @schedule %>
        </div>
        <div class="form-group">
          <div class="row">
            <div class= "col-md-4">
              <%= f.label t('.operation_license') %>
              <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="top" title="<%=t('.tooltip_folio')%>"></i>
            </div>
            <div class='texto-rojo col-md-8 text-left'><%=@business.errors[:operation_license][0].to_s%></div>
          </div>
          <%= f.text_field :operation_license ,  class: 'form-controler', :placeholder => 'Licencia de operacón', :onchange=>"validate_requirements()" , :value => @business_operation_license %>
        </div>
        <div class="form-group">
          <%= f.label t('.operation_license_file') %><br />
          <span><%= link_to(@business.operation_license_file_identifier, @business.operation_license_file_url, target: "_blank", style:"color: black;") if @business.operation_license_file.present? %></span>
          <%= f.file_field :operation_license_file %>
        </div>
        <div class="form-group">
          <%= f.label t('.land_permission_file') %><br />
          <span><%= link_to(@business.land_permission_file_identifier, @business.land_permission_file_url, target: "_blank", style:"color: black;") if @business.land_permission_file.present? %></span>
          <%= f.file_field :land_permission_file %>
        </div>
        <div class="text-center">
          <%= f.submit t('.save'), class: 'btn btn-success btn-lg outlineverde col-md-6 col-md-offset-3 texto-margin-bottom-long', :id => 'save_form' %>
        </div>
        <% end %>
      </div>
    </div>
  </div>


<script type='text/javascript'>
  var handler;
  var geocoder;
  var marker;
  var infowindow;

  function loadMap(){
    handler = Gmaps.build('Google');
    infowindow = new google.maps.InfoWindow();
    handler.buildMap({ internal: {id: 'geolocation'} }, function(){
      geocoder = new google.maps.Geocoder();
      user_has_location = <%= @business.latitude.nil? %>;
      if(user_has_location){
        if(navigator.geolocation){
          navigator.geolocation.getCurrentPosition(displayOnMap);
        }  
      }else{
        displayOnMap('loading') 
      }
    });

    if($("#businesss_city_id").chosen().val() != ""){
      $(".line_for_city").removeClass("hide");
    }
    validate_requirements();
  }

  function displayOnMap(position){
    if(position!='loading'){
      marker = handler.addMarker({
        lat: position.coords.latitude,
        lng: position.coords.longitude
      },{ draggable: true});
      codeLatLng(position.coords.latitude,position.coords.longitude);
    }else{
      marker = handler.addMarker({
        lat: <%=@business.latitude.nil? ? 0 : @business.latitude %>,
        lng: <%=@business.longitude.nil? ? 0 : @business.longitude %>
      },{ draggable: true});
      codeLatLng(<%=@business.latitude.nil? ? 0 : @business.latitude %>,<%=@business.longitude.nil? ? 0 : @business.longitude %>);
    }
    handler.map.centerOn(marker);
    handler.getMap().setZoom(18);
    google.maps.event.addListener(marker.serviceObject, 'dragend', function() {
      updateFormLocation(this.getPosition());
    });

  }

  function updateFormLocation(latLng) {
    $('#latitude').val(latLng.lat());
    $('#longitude').val(latLng.lng());
    codeLatLng(latLng.lat(),latLng.lng());
  }

  function codeLatLng(lat, lng) {
    $('#spinner').show();
    document.getElementById('business_latitude').value = lat;
    document.getElementById('business_longitude').value = lng;
    var latlng = new google.maps.LatLng(lat,lng);
    geocoder.geocode({'latLng': latlng}, function(results, status) {
      if (status == google.maps.GeocoderStatus.OK) {
        if (results[1]) {
          document.getElementById('business_address').value = results[1].formatted_address;
          $('#spinner').hide();
        }
        else{
          alert("Geocoder Not results "+ status);
        }
      } else {
        alert("Geocoder failed due to: " + status);
      }
    });
    $('#business_address').keyup(function() {
      delay(function(){
        address_latlng(document.getElementById('business_address').value);
      }, 5000 );
    });
    validate_requirements();
  }

  function changeLines(){
    $(".line_for_city").addClass("hide");
    var e = document.getElementById("business_city_id");
    window.order = e.value;
    var url = window.location.href;

    if(url.includes("#_=_")){
       url = url.replace("#_=_","");
    }
    if(!url.includes("new")){
       url += "/new";
    }
    window.url = url;
    $(".business_city_id").val(window.order).change(); //cambiamos la seleccion de city
    $.ajax({
           type:'GET', 
           url: window.url,
           success: function(){
           },
          error: function(){
          }, 
           data: $.param({ pagetime: {city_id: window.order}})
      });
    validate_requirements();
  }

  $(document).ready(loadMap);

  function address_latlng(address){
    geocoder.geocode( { 'address': address, 'region':  'mx',}, function(results, status) {
      if (status == google.maps.GeocoderStatus.OK) {
        var latitude = results[0].geometry.location.lat();
        var longitude = results[0].geometry.location.lng();
        marker = handler.addMarker({
          lat: latitude,
          lng: longitude
        },{ draggable: true});
        handler.map.centerOn(marker);
        handler.getMap().setZoom(18);
        document.getElementById('business_latitude').value = latitude;
        document.getElementById('business_longitude').value = longitude;
        google.maps.event.addListener(marker.serviceObject, 'dragend', function() {
          updateFormLocation(this.getPosition());
        });
      } 
    });
    $('#spinner').hide();
  }

  var delay = (function(){
    var timer = 0;
    return function(callback, ms){
      clearTimeout (timer);
      timer = setTimeout(callback, ms);
    };
  })();

  function validate_requirements(){  
    if(document.getElementById("business_name").value!= "" && document.getElementById("business_address").value!= "" && document.getElementById("business_operation_license").value!= "" && $("#business_city_id").chosen().val()){
     document.getElementById("save_form").disabled = false;
   }else{
    document.getElementById("save_form").disabled = true;
  }
    
}

function loading(){
  $('#spinner').show();
}       
</script>