.row
  .col-sm-12
    %h1.page-header= t('titles.inspectors')
.row
  .panel.panel-default
    .panel-heading
      &nbsp;
      .pull-right
        = link_to t('.new_inspector'), new_dashboard_inspector_path, class: 'btn btn-sm btn-success'
    .panel-body
      - if @inspectors.any?
        %table{ class:'table table-striped table-bordered table-hover' }
          %thead
            %th #
            %th= t('.name')
            %th= t('.dependency')
            %th= t('.actions')
          %tbody
            - @inspectors.each_with_index do |inspector, idx|
              %tr
                %td= idx + 1
                %td= inspector.name
                %td= inspector.dependency.name
                %td
                  = link_to edit_dashboard_inspector_path(inspector) do
                    %i.fa.fa-pencil
                  = link_to dashboard_inspector_path(inspector), method: :delete, data: { confirm: t('form.confirmations.delete_inspector') } do
                    %i.fa.fa-trash
        %p.pull-right
          Descargar:
          = link_to "CSV", dashboard_inspectors_path( format: "csv"), :class => 'btn btn-success btn-xs outlineverde'
      - else
        = render 'shared/empty_resource', message: t('.no_inspectors_available')
