- if @procedure_requirements.any?
  %table.table.table-hover{ 'ng-controller'=> 'ProcedureCtrl as procedures'}
    %tr.texto-verde
      %th= t('shared.requirements.done')
      %th= t('shared.requirements.name')
      %th= t('shared.requirements.description')
      %th= t('shared.requirements.path')

    - @procedure_requirements.each_with_index do |procedure, index|
      %tr{ 'ng-class'=> "{ 'done': procedures.items[#{procedure.requirement.id}] }"}
        - if user_signed_in?
          - if current_business.blank?
            %td
              %label{ style: 'font-weight: 400;' }
                %input{ type: 'checkbox', 'ng-click'=> "procedures.redirect(\'#{edit_user_path(current_user)}\')"} &nbsp;
          - else
            %td{ 'ng-init'=> "procedures.items[#{procedure.requirement.id}] = #{UserRequirement.exists?(business: current_business, requirement: procedure.requirement)}"}
              %label{ style: 'font-weight: 400;' }
                %input{ type: 'checkbox', 'ng-model'=> "procedures.items[#{procedure.requirement.id}]", 'ng-click'=> "procedures.update({ 'done': procedures.items[#{procedure.requirement.id}], 'business_id': #{current_business.id}, 'requirement_id': #{procedure.requirement.id}, 'path': \'#{user_requirements_path}\'})"} &nbsp;
        - else
          -# let's redirect the user to the login page
          %td
            %label{ style: 'font-weight: 400;' }
              %input{ type: 'checkbox', 'ng-click'=> "procedures.redirect(\'#{new_user_path}\')"} &nbsp;

        %td= procedure.requirement.name
        %td= procedure.requirement.description
        %td= procedure.requirement.path

  = link_to t('buttons.downloader'), download_csv_requirements_city_procedure_lines_path(@city,:id_requirement => @id_requirement, format: :csv),:class => "btn btn-success btn-lg outlineverde"
- else
  = render 'shared/empty_resource', message: t('.no_procedures_available')
