.row
  .col-sm-12
    %h1.page-header= t('titles.business')
.row
  .panel.panel-default
    .panel-heading
      &nbsp;
    .panel-body
      - if @users.any?
        %table{ class:'table table-striped table-bordered table-hover' }
          %thead
            %th #
            %th= t('.business_name')
            %th= t('.address')
            %th= t('.line')
            %th= t('.operation_license')
          %tbody
            - @users.each_with_index do |user, idx|
              %tr
                %td= idx + 1
                %td
                  = link_to dashboard_business_path(user) do
                    = truncate(user.business_name, length: 70)                
                %td= truncate(user.address, length: 70)                
                %td= truncate(Line.find(user.line).name, length: 70)                                       
                %td= truncate(user.operation_license, length: 70)               
        %p.pull-right
          Descargar:
          = link_to "CSV", dashboard_lines_path( format: "csv"), class: 'btn btn-success btn-xs outlineverde'
      - else
        = render 'shared/empty_resource', message: t('.no_lines_available')
