.row
  .col-sm-12
    %h1.page-header= t('.title')
.row
  .panel.panel-default
    .panel-heading
      &nbsp;
    .panel-body
      - if @businesses.any?
        %table{ class:'table table-striped table-bordered table-hover' }
          %thead
            %th #
            %th= t('.business_name')
            %th= t('.line')
            %th= t('.operation_license')
            %th= t('.tramites_activos')
          %tbody
            - @businesses.each_with_index do |business, idx|
              %tr
                %td= idx + 1
                %td
                  = link_to dashboard_business_path(business) do
                    = truncate(business.name, length: 70)                               
                %td= truncate(Line.find(business.line).name, length: 70)                                       
                %td= truncate(business.operation_license, length: 70)
                %td= UserProcedure.where(business_id: business.id).count + UserFormationStep.where(business_id: business.id).count
      - else
        = render 'shared/empty_resource', message: t('.no_business_available')
