= form_for [:dashboard, @procedure], html: { class: 'form-horizontal' } do |f|
  = render 'shared/show_flash'
  .row
    .panel.panel-default
      .panel-heading
        &nbsp;
        .pull-right
          = f.submit t('.create_procedures'), :class => 'btn btn-sm btn-success outlineverde'
      .panel-body
        %table{ class:'table table-striped table-bordered table-hover' }
          %tbody
            %tr
              %td= t('.name')
              %td= f.text_field :name, class: 'form-control'
            %tr
              %td= t('.long')
              %td= f.text_field :long, class: 'form-control'
            %tr
              %td= t('.cost')
              %td= f.text_field :cost, class: 'form-control'
            %tr
              %td= t('.validity')
              %td= f.text_field :validity, class: 'form-control'
            %tr
              %td= t('.contact')
              %td= f.text_field :contact, class: 'form-control'
            %tr
              %td= t('.type_procedure')
              %td= f.select(:type_procedure, type_of_people_procedures, {:include_blank => false}, :class => 'form-control')
            %tr
              %td= t('.category')
              %td= f.select(:category, type_of_category, {:include_blank => false}, :class => 'form-control')
            %tr
              %td= t('.sare')
              %td= f.select(:sare, type_of_sare, {:include_blank => false}, :class => 'form-control')
            %tr
              %td= t('.dependency')
              %td= f.select :dependency_id, @dependencies.map { |u| [u.name, u.id] },{ include_blank: true }, { class: 'chosen-select' }
            %tr
              %td= t('.requirements')
              %td= f.select :requirement_ids, @requirements.map { |u| [u.name, u.id] },{ include_blank: true },{ class: 'chosen-select', :multiple=>true, :data => { :placeholder => ' ' }}
            %tr
              %td= t('.lines')
              %td= f.select :line_ids, @lines.map { |u| [u.name, u.id] },{ include_blank: true },{ class: 'chosen-select', :multiple=>true, :data => { :placeholder => ' ' }}