  <%= form_for [:dashboard, @procedure], html: { class: 'form-container' } do |f| %>
  <%= render "shared/show_flash" %>

  <div class="form-group">
    <div class="col-md-6 col-md-offset-3">
      <%= t('.nombre') %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-6 col-md-offset-3 texto-margin-top">
      <%= t('.long') %>
      <%= f.text_field :long, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-6 col-md-offset-3 texto-margin-top">
      <%= t('.cost') %>
      <%= f.text_field :cost, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-6 col-md-offset-3 texto-margin-top">
      <%= t('.validity') %>
      <%= f.text_field :validity, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-6 col-md-offset-3 texto-margin-top">
      <%= t('.contact') %>
      <%= f.text_field :contact, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-6 col-md-offset-3 texto-margin-top">
      <%= t('.type_procedure') %>
      <%= f.select(:type_procedure, type_of_people_procedures, {:include_blank => false}, :class => 'form-control') %>
    </div>
  </div>

  <div class="form-group">
        <div class="col-md-6 col-md-offset-3 texto-margin-top">
      <%= t('.category') %>
      <%= f.text_field :category, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
      <div class="col-md-6 col-md-offset-3 texto-margin-top">
        <%= t('.sare') %>
        <%= f.select(:sare, type_of_sare, {:include_blank => false}, :class => 'form-control') %>
    </div>
  </div>

  <div class="form-group">
      <div class="col-md-6 col-md-offset-3 texto-margin-top">
        <%= t('.dependency_id') %>
      <%= f.select :dependency_id, @dependencies.map { |u| [u.name, u.id] },{ include_blank: true }, { class: 'chosen-select' }%>
    </div>
  </div>

  <div class="form-group">
      <div class="col-md-6 col-md-offset-3 texto-margin-top">
        <%= t('.requirement_ids') %>
      <%= f.select :requirement_ids, @requirements.map { |u| [u.name, u.id] },{ include_blank: true },{ class: 'chosen-select', :multiple=>true, :data => { :placeholder => ' ' }}%>
    </div>
  </div>

  <div class="form-group">
      <div class="col-md-6 col-md-offset-3 texto-margin-top">
        <%= t('.line_ids') %>
      <%= f.select :line_ids, @lines.map { |u| [u.name, u.id] },{ include_blank: true },{ class: 'chosen-select', :multiple=>true, :data => { :placeholder => ' ' }}%>
    </div>
  </div>

  <div class="col-md-6 col-md-offset-3 text-center texto-padding-top">
    <%= f.submit t('.create_procedures'), :class => 'btn btn-success btn-lg outlineverde' %>
  </div>
  <% end %>