<div class="container top-cruds">
  <div class="row">
    <div class="col-md-8">
      <h2> <%= t('titles.procedures') %></h2>
    </div>
    <div class="col-md-4 text-right">
      Descargar:
        <%= link_to "CSV", dashboard_procedures_path( format: "csv") , :class => 'btn btn-success btn-lg outlineverde'%>
    </div>
  </div>
  <hr>

  <div class="row text-right">
    <%= link_to t('.new_procedures'), new_dashboard_procedure_path, :class => 'btn btn-success btn-lg outlineverde texto-padding-right' %>
  </div>
  <table class="table">
   <thead>
     <th>#</th>
     <th><%= t('.name') %></th>
     <th><%= t('.dependencia') %></th>
   </thead>
   <tbody>
     <% @procedures.each_with_index do |procedure, idx| %>
     <%= content_tag :tr do %>
     <%= content_tag :td, idx + 1 %>
     <%= content_tag :td, truncate(procedure.name, :length => 70)%>
     <%= content_tag :td, truncate(Dependency.find(procedure.dependency_id).name, :length => 30)%>
     <%= content_tag :td do %>
     <div class="text-right">
      <%= link_to t('form.actions.edit'), edit_dashboard_procedure_path(procedure) , :class => 'btn btn-success btn-lg outlineverde'%> | 
      <%= link_to t('form.actions.destroy'), dashboard_procedure_path(procedure), method: :delete, data: { confirm: t('form.confirmations.delete_procedure') }, :class => 'btn btn-success btn-lg outlineverde' %>
    </div>
     <% end %>
     <% end %>
     <% end %>
   </tbody>
 </table>
</div>