<!DOCTYPE html>
<html>
<head>
	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
	<h1><%=t('devise.mailer.title')%></h1>

	<h4><%=t('devise.mailer.saludo')%> <%= @resource.email %> </h4>
	<p><%=t('devise.mailer.text_one')%> <%= link_to t('devise.mailer.text_here'),edit_password_url(@resource, reset_password_token: @token)%> <%=t('devise.mailer.text_two')%></p>

	<p><strong><%=t('devise.mailer.last_text')%></stronge></p>
</body>
</html>
