<div class="panel panel-default">
    <div class="panel-heading">
        <i class="fa fa-bar-chart"></i> Registros por dataset
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="list-group">
            <div class="list-group-item">
                <%=t('.dependencia')%>
                <span class="pull-right text-muted small"><em><%= @dependencies.count %></em>
                </span>
            </div>
            <div class="list-group-item">
                 <%=t('.giros')%>
                <span class="pull-right text-muted small"><em><%= @lines.count %></em>
                </span>
            </div>
            <div class="list-group-item">
                <%=t('.apertura')%>
                <span class="pull-right text-muted small"><em><%= @formation_steps.count %></em>
                </span>
            </div>
            <div class="list-group-item">
                 <%=t('.requerimientos')%>
                <span class="pull-right text-muted small"><em><%= @requirements.count %></em>
                </span>
            </div>
            <div class="list-group-item">
                <%=t('.tramites')%>
                <span class="pull-right text-muted small"><em><%= @procedures.count %></em>
                </span>
            </div>
            <div class="list-group-item">
                <%=t('.inspecciones')%>
                <span class="pull-right text-muted small"><em><%= @inspections.count %></em>
                </span>
            </div>
            <div class="list-group-item">
                <%=t('.inspectores')%>
                <span class="pull-right text-muted small"><em><%= @inspectors.count %></em>
                </span>
            </div>
        </div>
    </div>
    <!-- /.panel-body -->
</div>
<!-- /.panel -->
