  <%= form_for  @user, html: { class: 'form-container' } do |f| %>
  <%= render "shared/show_flash" %>
  <div class="form-group">
    <div class="col-md-8 col-md-offset-2">
      <%= t('dashboard.contacts.edit.correo') %>
      <%= f.text_field :email, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-8 col-md-offset-2">
      <%= t('dashboard.contacts.edit.password') %>
      <%= f.password_field :password, class: 'form-control' %>
    </div>
  </div>

  <div class="col-md-6 col-md-offset-3 text-center texto-padding-top">
    <%= f.submit t('dashboard.contacts.edit.ok'), :class => 'btn btn-success btn-lg outlineverde' %>
  </div>
  <% end %>
