<h1 class="title text-center texto-verde"><%=t('.all_profile')%></h1>
<hr class="small">
<div id="authentication">
	 <%= form_for  @municipio, html: { class: 'form-horizontal' } do |f| %>
	<div class="form-group">
		<%= f.label t('.correo_municipio') %>
		<%= f.text_field :contact_email, class: 'form-control' %>
		<div class="actions bg-primary-nergro">
			<br>
			<%= f.submit t('.save'), :class => 'btn btn-success btn-sm outlineverde' %>
		</div>
	</div>
	<% end %>
</div>

<div id="main" class="container clear-top">
	<div class="row">
		<div class="span12">
			<section id="services">
				<div class="center-block-margin">
					<div class="container">
						<h2> <%= t('.admins') %></h2>
						<table class="table">
							<thead>
								<th>#</th>
								<th><%= t('.email') %></th>
							</thead>
							<tbody>
								<% @users.each_with_index do |usuario, idx| %>
								<%= content_tag :tr do %>
								<%= content_tag :td, idx + 1 %>
								<%= content_tag :td, usuario.email %>
								<%= content_tag :td, :class => 'text-right'  do %>
								<%= link_to t('form.actions.edit'), edit_dashboard_municipio_contact_path(@municipio,usuario) , :class => 'btn btn-success btn-xs outlineverde text-right'%> 
								<%= link_to t('form.actions.destroy'), dashboard_dependency_path(usuario), method: :delete, data: { confirm: t('form.confirmations.delete_line')  }, :class => 'btn btn-success btn-xs outlineverde text-right' %>
								<% end %>
								<% end %>
								<% end %>
							</tbody>
						</table>
					</div>
				</div>
			</section>
		</div>
	</div>
</div>
</div>

