<h1 class="title text-center texto-verde"><%=t('.all_profile')%></h1>
<hr class="small">
<div id="authentication">
<%= form_for(@municipio) do |f| %>
  <% if @municipio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@municipio.errors.count, "error") %> prohibited this municipio from being saved:</h2>

      <ul>
      <% @municipio.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :contact_email %><br>
    <%= f.text_field :contact_email %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>

<div id="main" class="container clear-top">
	<div class="row">
		<div class="span12">
			<section id="services">
				<div class="center-block-margin">
					<div class="container">
						<h2> <%= t('.admins') %></h2>
						<table class="table">
							<thead>
								<th><%= t('.email') %></th>
							</thead>
							<tbody>
								<%= content_tag :tr do %>
								<%= content_tag :td, @user.email %>
								<%= content_tag :td, :class => 'text-right'  do %>
								<%= link_to t('form.actions.edit'), edit_dashboard_municipio_contact_path(@municipio,@user) , :class => 'btn btn-success btn-xs outlineverde text-right'%> 
								<% end %>
								<% end %>
							</tbody>
						</table>
					</div>
				</div>
			</section>
		</div>
	</div>
</div>
</div>

