- if @inspection.requirements.any?
  %table.table.master-detail.table-hover{ 'ng-controller'=> 'ProcedureCtrl as procedures'}
    %tr.texto-verde
      %th= t('shared.requirements.done')
      %th= t('shared.requirements.name')
      %th= t('shared.requirements.description')
      %th= t('shared.requirements.path')

    - @inspection.requirements.each_with_index do |requirement, index|
      %tr{ 'ng-class'=> "{ 'done': procedures.items[#{requirement.id}] }"}
        - if user_signed_in?
          - if current_business.blank?
            %td
              %label{ style: 'font-weight: 400;' }
                %input{ type: 'checkbox', 'ng-click'=> "procedures.redirect(\'#{edit_user_path(current_user)}\')"} &nbsp;
          - else
            %td{ 'ng-init'=> "procedures.items[#{requirement.id}] = #{UserRequirement.exists?(business: current_business, requirement: requirement)}"}
              %label{ style: 'font-weight: 400;' }
                %input{ type: 'checkbox', 'ng-model'=> "procedures.items[#{requirement.id}]", 'ng-click'=> "procedures.update({ 'done': procedures.items[#{requirement.id}], 'business_id': #{current_business.id}, 'requirement_id': #{requirement.id}, 'path': \'#{user_requirements_path}\'})"} &nbsp;
        - else
          -# let's redirect the user to the login page
          %td
            %label{ style: 'font-weight: 400;' }
              %input{ type: 'checkbox', 'ng-click'=> "procedures.redirect(\'#{new_user_path}\')"} &nbsp;

        %td= requirement.name
        %td= requirement.description
        %td.col-sm-1= link_to t('.liga'), requirement.path, :target => "_blank"
- else
  = render 'shared/empty_resource', message: t('.no_procedures_available')
