- if @inspection.requirements.any?
  %table.table.table-hover{ 'ng-controller'=> 'ProcedureCtrl as procedures'}
    %tr.texto-verde
      %th= t('shared.requirements.done')
      %th= t('shared.requirements.name')
      %th= t('shared.requirements.description')
      %th= t('shared.requirements.path')

    - @inspection.requirements.each_with_index do |requirement, index|
      %tr{ 'ng-class'=> "{ 'done': procedures.items[#{requirement.id}] }"}
        - if user_signed_in?
          %td{ 'ng-init'=> "procedures.items[#{requirement.id}] = #{UserRequirement.exists?(user: current_user, requirement: requirement)}"}
            %label{ style: 'font-weight: 400;' }
              %input{ type: 'checkbox', 'ng-model'=> "procedures.items[#{requirement.id}]", 'ng-click'=> "procedures.update({ 'done': procedures.items[#{requirement.id}], 'user_id': #{current_user.id}, 'requirement_id': #{requirement.id}, 'path': \'#{user_requirements_path}\'})"} &nbsp;
        - else
          -# let's redirect the user to the login page
          %td
            %label{ style: 'font-weight: 400;' }
              %input{ type: 'checkbox', 'ng-click'=> "procedures.redirect(\'#{new_user_path}\')"} &nbsp;

        %td= requirement.name
        %td= requirement.description
        %td= requirement.path

  = link_to t('buttons.downloader'), download_csv_requirements_city_procedure_lines_path(@city,:id_requirement => @id_requirement, format: :csv),:class => "btn btn-success btn-lg outlineverde"
- else
  = render 'shared/empty_resource', message: t('.no_procedures_available')
