<a-verde >
  <%= render_breadcrumbs :separator => ' / ',:class => 'a-verde texto-verde' %>
</a-verde >
<div class="row text-center texto-verde">
  <%= content_tag :h1,t('.title') %>
  <%if @line.nil?%>
    <p><%=t('.no_inspections_selected_subtitle')%></p>
  <%else%>
    <p><%=t('.no_inspections_selected_resultado')%> <%=" #{@line_name}"%> </p>
  <%end%>
</div>
<div class="row">
  <div class="text-left col-xs-6">
    <%= link_to t('.inspector'), city_inspectors_path(@city), class: 'btn btn-success btn-md outlineverde text-right' %>
  </div>
  <div class="text-right col-xs-6">
    <%= link_to t('.complaint'), new_city_complaint_path(@city), class: 'btn btn-danger btn-md outlinerojo text-right' %>
    <%= link_to t('.recordatorios'), city_reminders_path(@city), class: 'btn btn-success btn-md outlineverde text-right' %>      
  </div>
</div>
</br>

<%= form_for :get, html: { method: :get, class: 'form-horizontal' }, url: { controller: :inspections, action: :index } do |f| %>
  <div class="col-md-12">
    <div class="col-md-8 col-md-offset-1 text-center texto-verde-wrap">
      <div class="row text-left">
        <div class="form-group">
          <label class="col-xs-6 col-sm-3 texto-margin-top text-right">Giro del negocio:</label>
          <div class="col-md-offset-3">
            <%= f.select :lines, @lines_for_city.map { |u| [u.name, u.id] },{ include_blank: true , selected: @line }, class: 'chosen-select form-control' %>
          </div>
        </div>

        <div class="form-group">
          <label class="col-xs-6 col-sm-3 texto-margin-top text-right">Búsqueda:</label>
          <div class="col-md-offset-3">
            <%= text_field_tag :q, nil, class: 'form-controler', placeholder: t('.search_inspections') %>
          </div>
        </div>

        <div class="row text-lef">
          <div class="actions col-md-offset-3 text-lef">
            <div class="col-md-6 margin-bottom-button"><%= f.submit t('buttons.buscar'),:class => 'btn btn-success btn-lg outlineverde btn-block'%></div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>


<div class="col-md-12">
  <% if @inspections.present? %>
    <%= render 'inspection_show'%>
    <%= link_to t('buttons.downloader'), download_csv_inspections_city_inspections_path(@city,:lines => @line,format: :csv),:class => "btn btn-success btn-lg outlineverde"%>
  <% end %>
</div>
