!!! 5
%html{ lang: "en" }

%head
  %meta{ charset: "utf-8" }
  %meta{ 'http-equiv'=> "X-UA-Compatible", content: "IE=edge" }
  %meta{ name: "viewport", content: "width=device-width, initial-scale=1" }
  %meta{ name: "description", content: "" }
  %meta{ name: "author", content: "" }
  %script{:src=>"//maps.google.com/maps/api/js?v=3.13&amp;sensor=false&amp;libraries=geometry", :type=>"text/javascript"}
  %script{:src=>'//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js', :type=>'text/javascript'}

  %title Mi Negocio México
  = stylesheet_link_tag 'admin', media: 'all'
  = javascript_include_tag 'admin'
  = favicon_link_tag 'favicon.ico'
  = csrf_meta_tags

  / HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
  / WARNING: Respond.js doesn't work if you view the page via file://
  <!--[if lt IE 9]><!-->
  / %script{ src:"https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js" }
  / %script{ src:"https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js" }
  <!--<![endif]-->
%body{ 'data-no-turbolink'=> true }
  .wrapper
    = render 'layouts/admin_top_and_side_navbar'
    #page-wrapper
      / Kpis
      -# = render 'shared/admin/kpi', kpis: kpis
      = render "shared/show_flash"
      = yield
    = render 'shared/uservoice'
    = render "shared/footer_admin" 
